.btn{
    width: fit-content;
    height: 45px;

    padding: 10px 25px 10px 25px;

    border-radius: 25px;

    background-color: var(--components-color);
    
    overflow: hidden;
}

.btn:hover{
    opacity: 0.8;
}