.sign-in-frame{
    width: 100%;
    height: 100%;
    background: linear-gradient(114.95deg, rgba(210, 49, 49, 0.8) 9.87%, rgba(255, 229, 90, 0.5) 141.93%);
}

.sign-in-form-box{
    width: 45%;
    height: 100%;

    text-align: center;
}