body {
  margin: 0;
  font-family: 'Poppins', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --components-color: rgba(255, 255, 255, 0.6);
  --components-text-color: rgba(0, 0, 0, 0.95);
  --card-color: rgba(255, 255, 255, 0.5);
  --title-color: rgb( 255, 255, 255 );
}

.map-message{
  position: absolute;
  top: 5%;
  left: 10%;

  z-index: 3;

  width: fit-content;
  height:  50px;

  background-color: #f5f6fa;
  color: black;

  text-align: center;

  border-radius: 10px;
  transition: .2s ease-in-out;
}

.loader-progress{
  width: 150px;
  height: 30px;

  padding: 3px 0px 3px 0px;

  text-align: center;
  background-color: rgba( 0, 0, 0, 0.9 );
  color: white;

  border-radius: 25px;
}

::-webkit-scrollbar{
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb{
  background-color: rgba(0, 0, 0, 0.3);
}



